<style>
/* * selects everything to be applied*/
*{
    box-sizing: border-box;
}





body {
    margin:0px;
    background-image: url("../images/cork-wallet.png")



}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #ffffff;
    top: 0;
    width: 100%;
    border-bottom: solid gray 2px;
    height: 74px;
    margin-right: 100px;

}

h1 {
    margin-left: 45px;
    font-size: 2em;
    color: teal;
   
}

h2{ 
 

}

h3{
    margin-left:20px;
    text-align: justify;
    margin-right: 20px;


}
li a {
    display: block;
    color: gray;
    padding: 30px 20px;
    float: right;
  
 

}

img{
    margin-left:20px;
    margin-right: 20px;


}

hr{
    margin-left: 20px;
    margin-right: 20px;
}



.div1 {
    width: 650px;
    height: 500px;
    float: left;
    border: 2px solid #ddd;
    margin: 15px; 
    margin-left: 100px;
    background-color: white;
    margin-top: 50px;
    font-family: Georgia;
}

.div2 {
    width: 270px;
    height: 200px;
    border: 2px solid #ddd;
    float: left; 
    margin: 60px;
    background-color: white;
    margin-top: 50px;
    font-family: Georgia;
}
.name {
    color: white; 
    font-size: 65px;
    padding-left: 30px;
    float: left;
    background-color: teal;
    margin-left: 100px;
    text-align: center;
    padding-left: 0px;
    font-family: Georgia;
}
.paragraph {
    font-family: Times;


}

.im{   
    margin-left:20px;
    margin-right: 0px; 
}

.links{
    margin-right: 360px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:gray;
   text-align: center;
}
</style> 
